body {
	font: 14px 'Montserrat', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
}

/* ------------------------------------------
begins main header navigation styles here -->
------------------------------------------- */
.navTop {
	padding: 25px 5%;
	margin-bottom: 50px;
	font: 300 1em 'Montserrat', sans-serif;
	overflow: auto;
}

.navMain {
	margin-top: 25px;
	color: rgb(0, 0, 0);
}

.navMain:hover {
	color: rgb(200, 200, 200);
}

.navBrand {
	float: left;
	color: rgb(0, 0, 0);
}

li > a {
	display: inline-block;
	padding-left: 20px;
	color: rgb(0, 0, 0);
	float: right;
}

li > a:hover:after {
	border-bottom: 1px solid rgb(100, 100, 100);
	padding-bottom: 9px;
	width: 15px;
	content: "";
	display: block;
}



/* ------------------------------------------
this ends main header navigation styles 

begins about/bio section styles here -->
------------------------------------------- */
main {
	clear: both;
	margin-bottom: 100px;
	overflow: auto;
}


.introCont {
	position: relative;
/*	background-image:url("../images/black-and-white-city-skyline-buildings.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;*/

}

.introCopy {
	position: absolute;
	top: 20%;
	max-width: 30%;
	min-width: 320px;
	font: 300 1.7em 'Montserrat', sans-serif;
	padding-left: 5%;
}

#introImage {
	margin: 0 auto;
	width: 100%;
	min-width: 835px;
	height: auto;
}




/* ------------------------------------------
this ends about styles 

begins project-portfolio section styles here -->
------------------------------------------- */
.projContainer {
	padding: 75px 5% 0;
}

.projRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.projCol {
	flex: 1;
	max-width: 350px;
	margin-bottom: 4em;
	background: rgb(100, 200, 200);
}



.pTitle {
	font: 300 1.2em 'Montserrat', sans-serif;
}

.pDescript {
	font: 300 .8em/1.15em 'Overpass Mono', monospace;
}

.project {
	display: none;
}

.projThumb:hover > .project{
 	display: inline-block;
 	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 90px 50px;
	color: rgba(255, 255, 255, .9);
	background: rgba(0, 0, 0, .7);
	width: 350px;
	height: 240px;
	box-sizing: border-box;
}



/* ------------------------------------------
this ends project-portfolio styles 

begins contect/connect section styles here -->
------------------------------------------- */



.contact {
	margin: 0 5%;
	padding-top: 10px;
	border-top: 1px solid #000;
}

.contact li > a {
	float: left;

}

li:nth-child(1) {
	padding-left: 0;
}




